<div class="card p-fluid">
  <h5>Security</h5>
  <div *ngFor="let item of securityData">
    <div class="field">
      <label htmlFor="name1">{{ item.name }} <span pTooltip="{{ item.description }}" tooltipPosition="right"
                                                   class="pi pi-question-circle"></span>
      </label>
      <p-multiSelect
        [options]="roles"
        [(ngModel)]="item.roles"
        placeholder="Select roles"/>
    </div>

  </div>
  <div>
    <p-button label="Save" icon="pi pi-check" iconPos="right" (click)="saveClick()" (keydown)="saveKeyDown($event)"/>
  </div>
</div>

