<p-dialog header="Create new menu item" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
  <span class="p-text-secondary block mb-4">Create new item</span>
  <div class="flex items-center gap-4 mb-4">
    <label for="menuLabel" class="font-semibold w-24">Label</label>
    <input pInputText id="menuLabel" class="flex-auto" autocomplete="off" [(ngModel)]="label"/>
  </div>
  <div class="flex items-center gap-4 mb-4">
    <label for="module" class="font-semibold w-24">Module</label>
    <p-dropdown
      id="module"
      class="flex-auto"
      [options]="modules"
      [(ngModel)]="selectModule"
      optionLabel="value"
      optionValue="key"
      placeholder="Select module"/>
  </div>
  <div class="flex items-center gap-4 mb-4">
    <label for="module" class="font-semibold w-24">Module</label>
    <p-dropdown
      id="icon"
      class="flex-auto"
      [options]="icons"
      [(ngModel)]="selectIcon"
      placeholder="Select module">
      <ng-template let-item pTemplate="item">
        <div class="flex align-items-center gap-2">
          <span [class]="item"></span>
          <div>{{ item }}</div>
        </div>
      </ng-template>
    </p-dropdown>
  </div>
  <div class="flex justify-end gap-2">
    <p-button label="Cancel" severity="secondary" (click)="changeVisible()" (keydown)="changeVisible()"/>
    <p-button label="Save" (click)="save()" (keydown)="save()"/>
  </div>
</p-dialog>
