<div class="card">
  <div>
    <h2>Weather</h2>
    <p-table [value]="forecasts" [tableStyle]="{'min-width': '50rem'}">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Temperature C</th>
          <th scope="col">Temperature F</th>
          <th scope="col">Summary</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-forecast let-columns="columns">
        <tr>
          <td>{{ forecast.date }}</td>
          <td>{{ forecast.temperatureC }}</td>
          <td>{{ forecast.temperatureF }}</td>
          <td>
            <p-tag [value]="forecast.summary" severity="success"></p-tag>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
