<p-confirm-dialog />
<div *ngIf="isContent">
  <p-dialog header="Create tag" [modal]="true" [style]="{ width: '25rem' }" [(visible)]="createTagDialogVisible">
    <div class="flex items-center gap-4 mb-4">
      <label class="font-semibold w-24" for="username">Name</label>
      <input autocomplete="off" class="flex-auto" id="username" pInputText [(ngModel)]="createTag.name" />
    </div>
    <div class="flex items-center gap-4 mb-8">
      <label class="font-semibold w-24" for="tag-type">Tag type</label>
      <p-select
        appendTo="body"
        class="flex-auto"
        id="tag-type"
        optionLabel="label"
        optionValue="value"
        placeholder="Select type"
        [options]="valueTypeOptions"
        [(ngModel)]="createDialogSelectedType" />
    </div>
    <div class="flex justify-end gap-2">
      <p-button label="Cancel" severity="secondary" (click)="cancelCreateDialogClick()" />
      <p-button label="Save" (click)="saveCreateTagDialogClick()" />
    </div>
  </p-dialog>
  <div class="grid grid-cols-12">
    <div class="card col-span-12 xl:col-span-12">
      <div class="font-semibold text-xl mb-2">Tags</div>
      <div class="mb-2">
        <p-toolbar>
          <ng-template #start>
            <p-button
              class="mr-2"
              icon="pi pi-plus"
              severity="secondary"
              [text]="true"
              (onClick)="showCreateTagDialog()" />
            <p-button class="mr-2" icon="pi pi-refresh" severity="secondary" [text]="true" (onClick)="refresh()" />
            <p-button class="mr-2" icon="pi pi-save" severity="secondary" [text]="true" (onClick)="saveTag()" />
          </ng-template>
          <ng-template #center> </ng-template>
          <ng-template #end>
            <p-iconfield iconPosition="left">
              <p-inputicon class="pi pi-search" />
              <input pInputText placeholder="Search" type="text" />
            </p-iconfield>
          </ng-template>
        </p-toolbar>
      </div>
      <p-table
        responsiveLayout="scroll"
        selectionMode="single"
        [paginator]="true"
        [rows]="10"
        [size]="'small'"
        [sortMode]="'multiple'"
        [value]="tags"
        [(selection)]="selectedTag">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id">
              Id
              <p-sortIcon field="id" />
            </th>
            <th pSortableColumn="name">
              Name
              <p-sortIcon field="name" />
            </th>
            <th pSortableColumn="valueType">
              Type
              <p-sortIcon field="valueType" />
            </th>
            <th pSortableColumn="source">
              Source
              <p-sortIcon field="source" />
            </th>
            <th pSortableColumn="engUnits">
              Units
              <p-sortIcon field="engUnits" />
            </th>
            <th pSortableColumn="scan">
              Scan
              <p-sortIcon field="scan" />
            </th>
            <th pSortableColumn="archiving">
              Arch.
              <p-sortIcon field="archiving" />
            </th>
            <th pSortableColumn="compressing">
              Comp.
              <p-sortIcon field="compressing" />
            </th>
            <th pSortableColumn="creationDate">
              Created
              <p-sortIcon field="creationDate" />
            </th>
            <th>Actions</th>
          </tr>
        </ng-template>

        <ng-template let-tag pTemplate="body">
          <tr [pSelectableRow]="tag">
            <td>{{ tag.id }}</td>
            <td>{{ tag.name }}</td>
            <td>{{ getTagTypeName(tag.valueType) }}</td>
            <td>{{ tag.source }}</td>
            <td>{{ tag.uom }}</td>
            <td>
              <p-tag [severity]="tag.scan ? 'info' : 'warn'" [value]="tag.scan ? 'Yes' : 'No'" />
            </td>
            <td>
              <p-tag [severity]="tag.archiving ? 'info' : 'warn'" [value]="tag.archiving ? 'Yes' : 'No'" />
            </td>
            <td>
              <p-tag [severity]="tag.compressing ? 'info' : 'warn'" [value]="tag.compressing ? 'Yes' : 'No'" />
            </td>
            <td>{{ tag.creationDate | date: "yyyy-MM-dd HH:mm" }}</td>
            <td>
              <p-button class="mr-2" icon="pi pi-trash" severity="danger" [text]="true" (onClick)="deleteTag(tag)" />
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="10">No tags found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div *ngIf="selectedTag" class="grid grid-cols-12 col-span-12 xl:col-span-12 gap-4">
      <div class="card col-span-6 xl:col-span-6">
        <div class="font-semibold text-xl">Common</div>
        <div class="grid grid-cols-12 gap-4 mt-4">
          <label class="flex items-center col-span-12 mb-2 md:col-span-2 md:mb-0" for="name">Name</label>
          <div class="col-span-12 md:col-span-10">
            <input class="w-full" id="name" pInputText [(ngModel)]="selectedTag.name" />
          </div>
        </div>

        <div class="grid grid-cols-12 gap-4 mt-4">
          <label class="flex items-center col-span-2 mb-2 md:col-span-2 md:mb-0" for="valueType">Value Type</label>
          <div class="col-span-4 md:col-span-4">
            <p-dropdown
              class="w-full"
              id="valueType"
              optionLabel="label"
              optionValue="value"
              [options]="valueTypeOptions"></p-dropdown>
          </div>
          <label class="flex items-center col-span-2 mb-2 md:col-span-2 md:mb-0" for="uom">UOM</label>
          <div class="col-span-4 md:col-span-4">
            <input class="w-full" id="uom" pInputText [(ngModel)]="selectedTag.uom" />
          </div>
        </div>

        <div class="grid grid-cols-12 gap-4 mt-4">
          <label class="flex items-center col-span-12 mb-2 md:col-span-2 md:mb-0" for="descriptor">Descriptor</label>
          <div class="col-span-12 md:col-span-10">
            <input class="w-full" id="descriptor" pInputText [(ngModel)]="selectedTag.descriptor" />
          </div>
        </div>
      </div>

      <div class="card col-span-6 xl:col-span-6">
        <div class="font-semibold text-xl">Configuration of Archiving</div>
        <div class="grid grid-cols-12 gap-4 mt-4">
          <label class="flex items-center col-span-2 mb-2 md:col-span-2 md:mb-0" for="step">Step</label>
          <div class="col-span-10 md:col-span-10 flex-auto">
            <p-checkbox binary="true" id="step" title="Step" [(ngModel)]="selectedTag.step"></p-checkbox>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-4">
          <div class="grid col-span-1 md:col-span-1 gap-4">
            <div class="grid grid-cols-1">
              <label class="flex items-center mb-2" for="compressing">Compressing</label>
              <p-checkbox
                binary="true"
                id="compressing"
                pTooltip="Compressing"
                [(ngModel)]="selectedTag.compressing"></p-checkbox>
            </div>
            <div class="col-span-12 md:col-span-4">
              <label class="flex items-center mb-2" for="compMin">Compression Min (sec)</label>
              <p-inputNumber id="compMin" mode="decimal" [(ngModel)]="selectedTag.compressionMinTime"></p-inputNumber>
            </div>

            <div class="grid grid-cols-12">
              <div class="col-span-12 md:col-span-4">
                <label class="flex items-center mb-2" for="compMax">Compression Max (sec)</label>
                <p-inputNumber id="compMax" mode="decimal" [(ngModel)]="selectedTag.compressionMaxTime"></p-inputNumber>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="selectedTag" class="card col-span-6 xl:col-span-6">
        <div class="font-semibold text-xl">Data collection</div>
        <div class="grid grid-cols-12 gap-4 mt-4">
          <label class="flex items-center col-span-2 mb-2 md:col-span-2 md:mb-0" for="interface">Interface</label>
          <div class="col-span-10 md:col-span-10 flex-auto">
            <input class="w-full" id="interface" pInputText [(ngModel)]="selectedTag.interfaceId" />
          </div>
        </div>
        <div class="grid grid-cols-12 gap-4 mt-4">
          <label class="flex items-center col-span-2 mb-2 md:col-span-2 md:mb-0" for="instrumentTag"
            >Instrument Tag</label
          >
          <div class="col-span-10 md:col-span-10 flex-auto">
            <input class="w-full" id="instrumentTag" pInputText [(ngModel)]="selectedTag.instrumentTag" />
          </div>
        </div>

        <div class="grid grid-cols-12 gap-4 mt-4">
          <label class="flex items-center col-span-2 mb-2 md:col-span-2 md:mb-0" for="active">Enabled</label>
          <div class="col-span-10 md:col-span-10 flex-auto">
            <p-checkbox binary="true" id="active" pTooltip="Enabled" [(ngModel)]="selectedTag.enabled"></p-checkbox>
          </div>
        </div>
      </div>

      <div *ngIf="selectedTag" class="card col-span-6 xl:col-span-6">
        <div class="font-semibold text-xl">Calculations</div>
        <div class="grid col-span-1 md:col-span-1 gap-4">
          <div class="col-span-12 md:col-span-12">
            <label class="flex items-center mb-2" for="errorCalculation">Error formula</label>
            <textarea
              class="w-full"
              pTextarea
              [autoResize]="true"
              [(ngModel)]="selectedTag.errorCalculation"></textarea>
          </div>
        </div>
      </div>

      <div *ngIf="selectedTag" class="card col-span-6 xl:col-span-6">
        <div class="font-semibold text-xl">System</div>
        <div class="grid grid-cols-12 gap-4 mt-4">
          <div class="col-span-12 md:col-span-6">
            <label class="flex items-center mb-2" for="creationDate">Creation Date</label>
            <input id="creationDate" pInputText [disabled]="true" [(ngModel)]="selectedTag.creationDate" />
          </div>
          <div class="col-span-12 md:col-span-6">
            <label class="flex items-center mb-2" for="creator">Creator</label>
            <input id="creator" pInputText [disabled]="true" [(ngModel)]="selectedTag.creator" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isSettings"></div>
<security *ngIf="isSecurity" [controller]="controller" [id]="id"></security>
