.card {
  background: var(--surface-card);
  border: 1px solid var(--surface-border);
  padding: $doubleGutter;
  margin-bottom: $doubleGutter;
  box-shadow: var(--card-shadow);
  border-radius: var(--border-radius);

  &:last-child {
    margin-bottom: 0;
  }
}

.primary-color-icon {
  fill: var(--primary-color);
}

.secondary-color-icon {
  fill: var(--primary-700);
}

